@font-face{
  font-family: helvetica_neue_bold;
  src:url(../fons/helvetica_neue_bold.ttf);
}


  @font-face {
  font-family:helvetica_neue_roman;
  src: url(../fonts/helvetica_neue_roman.ttf);
}
@font-face {
  font-family: helvetica_neue_light;
  src: url(../fonts/helvetica_neue_light.ttf);
}

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	color: #4d4d4d;
	font-family: helvetica_neue_light;
}


body{
	margin: 0 auto;
    max-width: 100%;
}

header{
	display: flex;
	justify-content: space-between;
	height: 70%;
	margin-top: 10px;
	align-items: center;
}
.nav ul{
	width: 200px;
	display: flex;
	justify-content: space-between;
}

.product-categoria {
   display: flex;
   margin-bottom: 20px;
   margin-top: 50px;
   justify-content: space-between;
   width: 100%;
   flex-direction: row;

}
.section_list{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
