
@font-face{
  font-family: helvetica_neue_bold;
  src:url(../fons/helvetica_neue_bold.ttf);
}


  @font-face {
  font-family:helvetica_neue_roman;
  src: url(../fonts/helvetica_neue_roman.ttf);
}
@font-face {
  font-family: helvetica_neue_light;
  src: url(../fonts/helvetica_neue_light.ttf);
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color:#4d4d4d;
  list-style: none;
  font-family:helvetica_neue_light;
  box-sizing: border-box;

 

}

body {
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}


 header {
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: center;
}
 header img {
    width: 76px;
    height: 76px; }
nav {
  font-size: 12px; 
}

p{
  font-size: 20px;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 18px;
}
h3{
  font-size:15px; 
}

.nav ul {
  width: 200px;
  padding: 10px 30;
  display: flex;
  justify-content: space-between;
  border: 

}
.navigation {
  display: flex;
 
}

.navigation li {
width: 30px;
left: 0;
margin: 0 auto;
}
.navigation li:hover:: after{
  width: 30px;
  height: 2px;
  position: absolute;
  left: 0;
}

.main-product{
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-bottom: 115px;
  padding:  0 20px;
}
.main-product img{
  width: 400px;
  height: 400px;

}

article{
 height: calc(100vh -60);
  display: flex;
  align-items: center;
  margin-bottom: 106px;
}
.article h1{
  font-size: 84px;
  font-weight: bold;
  margin-bottom: 51px;
}
article p{
  display: flex;
  flex-direction: column;
  margin-bottom: 52px
 }

 article a{
  border: 1px solid #707070;
  padding: 15px 40px 15px 30px;
  border-radius:5px;
  background-color: #707070;
  opacity:.5;
  font-size:18px;
  font-weight: bold;    
 }
 .mtavari {
  width: 430px;
  height: 430px;

 }

 .product{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
   }

.product li{
  width: 400px;
   align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
 }
 .product li::after {
  display: block;
  background-color: #4d4d4d;
  position: relative;
  width: 46px;
  height: 7px;
  top: 50px;
  left: 350px;
 }
.section ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section h2{
  font-size:18px;
  margin-bottom:70px;
}
.topselling{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.topselling li {
  width: 300px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button{
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.positia{
  position: relative;
  top: 100px;
}
.positions{
  position: relative;
  top: 50px;
}
.why_we{
  display: flex;
  flex-direction: column;
  padding:0 100px;
  margin-bottom: 35px;
  width:100%;
}

.why{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 23px;
}
.why_we h2{
  font-size: 18px;
}
.why li {
  width: 30%;
  margin: 0 1%;
  height: 148px;
  position: relative;
}
.why li img{
  height:100%;
  position: absolute;
  object-fit: cover;
  z-index: -5;
}
.why li h3{
  padding: 10px 0 0 20px;
  color:#ffffff;
}
.why li p{
  position: absolute;
  width: 39px;
  height: 39px;
  font-size: 15px;
  text-align: center;
  left: 16px;
  bottom: 15px;
  background-color: #ffffff;
}

footer{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #f2f2f2;
  padding-top:20px;

}


.logo-footer{
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.logo-footer img{
width: 44px;
height: 44px;
margin-top: 33px;
margin-right: 100px;
  }
  .list-footeri{
    margin-bottom: 12px;
    font-size: 12px;
  }
  .address-list h3{
    font-size: 12px;
    margin-bottom: 13px;
  }

  .address-list p {
    font-size: 11px;}

 address{
    display: flex;
    font-size: 11px;
    flex-direction: column;
    }
   
      .social{
        justify-content: flex-end;
        display: flex;
        width: 100%;
        
      
      }
      
  
