
@font-face{
  font-family: helvetica_neue_bold;
  src:url(../fons/helvetica_neue_bold.ttf);
}


  @font-face {
  font-family:helvetica_neue_roman;
  src: url(../fonts/helvetica_neue_roman.ttf);
}
@font-face {
  font-family: helvetica_neue_light;
  src: url(../fonts/helvetica_neue_light.ttf);
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color:#4d4d4d;
  list-style: none;
  font-family:helvetica_neue_light;
  box-sizing: border-box;

 

}

body {
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}


 header {
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: center;


 }
 header img {
    width: 76px;
    height: 76px; }
nav {
  font-size: 12px; 
}

p{
  font-size: 20px;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 18px;
}
h3{
  font-size:15px; 
}

.nav ul {
  width: 200px;
  padding: 10px 30;
  display: flex;
  justify-content: space-between;
  border: 

}
.navigation {
  display: flex;
 
}

.navigation li {
width: 30px;
left: 0;
margin: 0 auto;
}
.navigation li:hover:: after{
  width: 30px;
  height: 2px;
  position: absolute;
  left: 0;
}
article{
 height: calc(100vh -60);
  display: flex;
  align-items: center;
  margin-bottom: 106px;
}
.article h1{
  font-size: 84px;
  font-weight: bold;
  margin-bottom: 51px;
}
article p{
  display: flex;
  flex-direction: column;
  margin-bottom: 52px
 }

 article a{
  border: 1px solid #707070;
  padding: 15px 40px 15px 30px;
  border-radius:5px;
  background-color: #707070;
  opacity:.5;
  font-size:18px;
  font-weight: bold;    
 }
 .mtavari {
  width: 430px;
  height: 430px;

 }

 .product{

 }


